<!--paginate.ejs-->
<table>
    <% deals.forEach( function(model) { %>
        <tr><td><%=model.region%></td><td><%=model.city%></td><td><%=model.class%></td><td><%=model.price%><td><%=model.validdate%></td><td><%=model.image></td><td><%=model.quota></td><td><%=model.dates></td></tr>
    <% }); %>
</table>

<% var current = req.query.page %>

<nav>
    <ul class="pagination">
        <!-- <li>
            <a href="/deal/paginate/?page=<%=Math.max(current-1, 1)%>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li> -->

        <%for(i=1;i<=count;i++){%>
            <li><a href="/deal/paginate/?page=<%=i%>"> <%=i%> </a></li>
        <%}%>

        <!-- <li>
            <a href="/deal/paginate/?page=<%=Math.min(current*1+1, count)%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li> -->
    </ul>
</nav>
